In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

## Build in Functions

In [2]:
print("hello")

hello

In [3]:
print(3*5)

15

In [5]:
a=[1,2,3,4,5,6]
len(a)

6

In [6]:
sum(a)

21

In [7]:
len(a)

6

In [8]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

## User Define Functions

In [9]:
def add(a:int|float,b:int|float)-> int|float:
    """
    This functin adds two numbers
    """

    c = a+b
    return c

In [10]:
a1=(3+5)
a1

8

In [11]:
type(a1)

int

In [12]:
# argument inside the function
add(5,9)

14

In [13]:
# Keyword arguments
add(a=15,b=20)

35

In [14]:
add(3,4,6)

TypeError: add() takes 2 positional arguments but 3 were given

In [15]:
add(4)

TypeError: add() missing 1 required positional argument: 'b'

### Variadic Functions
1. func(*args)
2. *args act like a tuple here in python

In [17]:
def func(*args):
    print(args, type(args))
    for i in args:
        print(i)
    return args

In [18]:
b1= func(2,3)

(2, 3) <class 'tuple'>
2
3

In [19]:
b1

(2, 3)

In [20]:
b2 = func(4,5,"Example",True ,5.4,10.5,False)

(4, 5, 'Example', True, 5.4, 10.5, False) <class 'tuple'>
4
5
Example
True
5.4
10.5
False

In [21]:
b3 = func("sarthak","Raman","Rahul")

('sarthak', 'Raman', 'Rahul') <class 'tuple'>
sarthak
Raman
Rahul

## Write a function to add any amount of numbers

In [22]:
def add_multiple(*args):
    # Intialize sum to 0
    s=0

    # Apply for loop on args
    for i in args:
        s= s+i

    #return the value of s
    return s

In [23]:
add_multiple(3,4)

7

In [24]:
add_multiple(3,4,5,6)

18

In [25]:
add_multiple(4,5,9,15,45,89)

167

In [26]:
range(1,101)

range(1, 101)

In [29]:
c= list (range(1,101))
c

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [30]:
# Unpack and provide list / tuple as input here
add_multiple(*c)

5050

## Billing Example

In [31]:
cart1 = [
    ("Laptop",54000,2),
    ("Headphones",1500,4),
    ("Mouse",500,2),
    ("Keyboard",1200,1),
    ("Mouse pad",300,2)
]

In [32]:
def billing(cart_id:int,*args)->int|float:
    # intialize the total to 0
    total=0

    # print the cart id
    print(f"Cart Id : {cart_id}")
    # Apply for loop on args
    for product,price,qty in args:
        item_total = price*qty
        total = total + item_total
        print(f"Product :{product}, Price : {price} INR, Qty :{qty}Nos")
        print(f"Item Total : {item_total:.2f}INR")
        print("\n=======================================================")
    
    # Show the total
    print(f"Final Total :{total:.2f}INR")
    return total

In [33]:
cart1

[('Laptop', 54000, 2),
 ('Headphones', 1500, 4),
 ('Mouse', 500, 2),
 ('Keyboard', 1200, 1),
 ('Mouse pad', 300, 2)]

In [34]:
c1 = billing(101, *cart1)

Cart Id : 101
Product :Laptop, Price : 54000 INR, Qty :2Nos
Item Total : 108000.00INR

=======================================================
Product :Headphones, Price : 1500 INR, Qty :4Nos
Item Total : 6000.00INR

=======================================================
Product :Mouse, Price : 500 INR, Qty :2Nos
Item Total : 1000.00INR

=======================================================
Product :Keyboard, Price : 1200 INR, Qty :1Nos
Item Total : 1200.00INR

=======================================================
Product :Mouse pad, Price : 300 INR, Qty :2Nos
Item Total : 600.00INR

=======================================================
Final Total :116800.00INR

In [35]:
c1

116800

In [36]:
c2 = billing(
    102,
    ("GPU",50000,1),
    ("RAM",5000,2)
)

Cart Id : 102
Product :GPU, Price : 50000 INR, Qty :1Nos
Item Total : 50000.00INR

=======================================================
Product :RAM, Price : 5000 INR, Qty :2Nos
Item Total : 10000.00INR

=======================================================
Final Total :60000.00INR

In [37]:
c2

60000

In [38]:
help(billing)

Help on function billing in module __main__:

billing(cart_id: int, *args) -> int | float

### Keyword Arguments in python
**kwargs - This will act like a dictionary in python

In [39]:
d = {
    "a":1,
    "b":2,
    "c":3,
    "d":4
}

In [40]:
type(d)

dict

In [41]:
d["a"]

1

In [42]:
d.get("d")

4

In [43]:
print(d.get("e"))

None

In [44]:
d.get("e","N/A")

'N/A'

In [45]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [46]:
for key, value in d.items():
    print(f"{key} : {value}")

a : 1
b : 2
c : 3
d : 4

In [47]:
def func2(**kwargs):
    print(kwargs, type(kwargs))

    for key, value in kwargs.items():
        print(f"{key} : {value}")

    return kwargs

In [48]:
func2(name="sarthak",age=23)

{'name': 'sarthak', 'age': 23} <class 'dict'>
name : sarthak
age : 23

{'name': 'sarthak', 'age': 23}

In [49]:
d2 = func2(name="Aditi",age=25, email="aditi@gmail.com",location="pune")

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'pune'} <class 'dict'>
name : Aditi
age : 25
email : aditi@gmail.com
location : pune

In [50]:
d2

{'name': 'Aditi', 'age': 25, 'email': 'aditi@gmail.com', 'location': 'pune'}

# Practice Example of kwargs

In [53]:
def create_user(**kwargs):

    if "username" not in kwargs:
        raise ValueError("username should be available while creating a user")
    profile = {
        "username": kwargs["username"],
        "Full Name": kwargs.get("full_name","N/A"),
        "Email": kwargs.get("email","N/A"),
        "City": kwargs.get("city","N/A"),
        "Blood Group": kwargs.get("blood_group","N/A")
    }

    return profile

In [54]:
u1 = create_user(
    username="sarthak",
    full_name="sarthak more",
    city= "nashik"
)

In [55]:
u1

{'username': 'sarthak',
 'Full Name': 'sarthak more',
 'Email': 'N/A',
 'City': 'nashik',
 'Blood Group': 'N/A'}

In [56]:
u2 = create_user(
    username="amit",
    full_name="amit sane",
    email="amit@gmail.com",
    blood_group="A+ve"
)

In [57]:
u2

{'username': 'amit',
 'Full Name': 'amit sane',
 'Email': 'amit@gmail.com',
 'City': 'N/A',
 'Blood Group': 'A+ve'}

In [58]:
u3 = create_user(
    full_name = "Rahul Sharma",
    city="Pune"
)

ValueError: username should be available while creating a user

In [59]:
u3

NameError: name 'u3' is not defined

In [60]:
u4 = create_user(
    username = "rahuls1",
    full_name = "Rahul Sharma",
    email = "rahuls@test.com",
    city = "Pune",
    blood_group = "B+ve"
)

In [61]:
u4

{'username': 'rahuls1',
 'Full Name': 'Rahul Sharma',
 'Email': 'rahuls@test.com',
 'City': 'Pune',
 'Blood Group': 'B+ve'}