### Exception Handling
Exception - Error occured when invalid operations are performed

In [1]:
4/0

ZeroDivisionError: division by zero

In [2]:
"a"/4

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [3]:
def division():
    num = float(input("please enter numerator : "))
    den = float(input("please enter denominator : "))
    div = num/den
    print(f"Division of numerator {num}, and denominator {den} is {div:.4f}")
    return div

In [4]:
# num=3, den=4
d1 = division()
print("Done")

Division of numerator 3.0, and denominator 4.0 is 0.7500
Done

In [5]:
d1

0.75

In [6]:
# num =10, den =0
d2= division()
print("Done")

ZeroDivisionError: float division by zero

In [7]:
d2

NameError: name 'd2' is not defined

In [8]:
# num =a den=12
d3 = division()
print("Done")

ValueError: could not convert string to float: 'a'

In [9]:
float(a)

NameError: name 'a' is not defined

In [10]:
float(12.2)

12.2

In [11]:
# num =15 den =b
d4 = division()
print("Done")

ValueError: could not convert string to float: 'b'

In [12]:
# num =blank
d5= division()
print("Done")

ValueError: could not convert string to float: ''

### 1. Generic exception handling

In [13]:
def division2():
    try:
        num=float(input("Please enter numerator :"))
        den=float(input("Please enter denominator :"))
        div=num/den
        print(f"Numerator : {num},Denomirator : {den},Division : {div:.4f}")
        return div
    except Exception as e:
        print(f"Exception Occured : {e}")

In [14]:
# num= 12, den=5
d1= division2()
print("Done")

Numerator : 12.0,Denomirator : 5.0,Division : 2.4000
Done

In [18]:
# num =10 den=0
d2=division2()
print("Done")

Exception Occured : float division by zero
Done

In [19]:
# num=10 den=a
d3=division2()
print("Done")

Exception Occured : could not convert string to float: 'a'
Done

In [20]:
# Num - blank
d4 = division2()
print("done")

Exception Occured : could not convert string to float: ''
done

#### Error handling for different exceptions
##### 1.Zero Division error
##### 2.Value Errors

In [21]:
def  division3():
    try:
        num = float(input("Please enter numerator : "))
        den = float(input("Please enter denominator : "))
        div = num/den
        print(f"Numerator : {num}, Denominator : {den} , Division : {div:.4f}")
        return div
    except ZeroDivisionError:
        print("Denominator is division cannot be zero")
    except ValueError:
        print("Numerator and Denominator should both be numbers, blank input is not allowed")

In [22]:
# num=10,den=3
d1= division3()
print("Done")

Numerator : 10.0, Denominator : 3.0 , Division : 3.3333
Done

In [23]:
d1

3.3333333333333335

In [24]:
# num=10,den=0
d2 = division3()
print("Done")

Denominator is division cannot be zero
Done

In [25]:
# num=a
d3=division3()

Numerator and Denominator should both be numbers, blank input is not allowed